.Components {
  text-align: center;
  margin-left: 30px;
  align-content: center;
  flex-direction: column;
  color:darkgoldenrod;
}

.Header, .footer, .Body {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 45px;
  border: 1px solid black;
}

.squares{
  margin-bottom: 150px;
  display: flex;
  justify-content: space-between;
}

.Footer {
  display: flex;
  background-color: ;
  justify-content: space-around;
}

.Footer-low {
  display: flex;
  font-size: 20px;;
}
img {
  width: 200px;
  height: 250px;
}
